---
layout: default
comments: false
---

<p>Welcome to my blog on github-pages! I've been blogging here about particle physics, graduate school, and related things sporadically since Fall 2016. You can find my most recent posts below, visit the archive from the links above, or check out the various other links to learn more about me and my research. If you have comments or questions, you can contact me via <a href="mailto:shomiller@gmail.com">email</a> or visit my page on Twitter: <a href="https://twitter.com/shomiller2">@shomiller2</a>. Also feel free to check out my professional webpage at <a href="https://shomiller.github.io">shomiller.github.io</a>. Enjoy!

<h2>Recent Posts</h2>
<ul>
  {% for post in site.posts limit:10%}
    <li>
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
			{{ post.excerpt }}<a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
      <br/><br/>
    </li>
  {% endfor %}

  <h4><a href="{{ site.baseurl }}/archive.html">View all</a></h4>
</ul>
