---
layout: default
comments: false
---

<p>Welcome to my new blog on github-pages! I'm currently working on migrating over from my old site at
<a href=you.stonybrook.edu/loopmatters>you.stonybrook.edu/loopmatters</a>, where I've been blogging about particle physics and related things sporadically since Fall 2016. When I have everything set up the way I'd like here, I'll migrate over all my old posts from there and start posting exclusively to the new site. In the meantime, feel free to check out my professional webpage at
<a href=shomiller.github.io>shomiller.github.io</a>. More coming soon!</p>

<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit:10%}
    <li>
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
			{{ post.excerpt }}<a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
      <br/><br/>
    </li>
  {% endfor %}

  <h4><a href="{{ site.baseurl }}/archive.html">View all</a></h4>
</ul>
